

footer {
    height: 150px;
    background: black;
    display: flex;
    font-family: 'Oswald';
}
.op-footer-logo{
    color: white;
    font-size: 60px;
    margin: auto;
    letter-spacing: -2px;
}
.foto{
    background-image: url(../img/pexels-malte-luk-2244746.jpg);
    background-size: 100% 100%;
    height: 800px;
    
}

.op-navbar {
    position: relative;
}

.op-ul {
    display: inline-block;
    position: absolute;
    right: 0;
}

.op-logo{
    color: white;

}

.nav-link{
    color: white;
    justify-content:right;

}

h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    font-family: 'Oswald';
}

.imagen{
    height: 400px;
    margin-left: 90px;
    float: left;
}
.imagen2{
    height: 400px;
    float: right;
    margin-top: 50px;
    margin-right: 90px;
}
.h21{
    margin-left: 600px;
    font-family: 'Oswald';
}
.h22{
    margin-top: 50px;
    font-family: 'Oswald';
}
.hr1{
    margin-left: 600px;
    background-color: black;
    color: black;

}
.hr2{
    margin-right: 710px;
}


.texto1{
    margin-left: 600px;
    font-family: 'Open Sans', sans-serif;
}

.texto2{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.texto{
    margin-right: 710px;
    font-family: 'Open Sans', sans-serif;
}

form{
    width: 450px;
    margin: auto;
}
.input1, textarea{
    width: 100%;
    margin-bottom: 20px;

}

.container-contacto{
    background-color: rgb(51, 51, 51);
}
.h2c{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald';
}
label{
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.label1{
    margin-top: 20px;
}

textarea{
    min-height: 150px;
    max-height: 200px;
}

.boton{
width: 222px;
margin-bottom: 40px;
}

.texto-foto{
    color: white;
    font-size: 50px;
    margin-right: 900px;
    background-color: brown;
}

.nav-item{
    
    text-align: right;
    display: block;
}