:root {
    --black: #303030;
    --blue: #274E7B;
    --white-d: #F2F4F3;
    --white: #fff;
}

footer {
    height: 150px;
    background: black;
    display: flex;
    font-family: 'Oswald';
}
.op-footer-logo{
    color: white;
    font-size: 60px;
    margin: auto;
    letter-spacing: -2px;
}
.foto{
    background-image: url(../img/pexels-malte-luk-2244746.jpg);
    background-size: 100% 100%;
    height: 100vh;
}

.op-navbar {
    position: relative;
}

.op-ul {
    display: inline-block;
    position: absolute;
    right: 0;
}

.op-logo{
    color: white;

}

.nav-link{
    color: white;
    justify-content:right;

}

.nosotros{
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    font-family: 'Oswald';
}

.imagen{
    width: 100%;
    border-radius: 3px;
}
.imagen2{
    width: 100%;
}

.barrita {
    background:#274E7B;
    width: 100%;
    height: 5px;
}
.h21{
    text-align: left;
    font-family: 'Oswald';
}
.h22{
    text-align: right;
    font-family: 'Oswald';
}


.texto1{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 15px;
}

.texto2{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.texto{
    margin-right: 710px;
    font-family: 'Open Sans', sans-serif;
}

form{
    width: 450px;
    margin: auto;
}
.input1, textarea{
    width: 100%;
    margin-bottom: 20px;

}

.container-contacto{
    background-color: var(--black);
}
.h2c{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald';
}
label{
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.label1{
    margin-top: 20px;
}

textarea{
    min-height: 150px;
    max-height: 200px;
}

.boton{
width: 222px;
margin-bottom: 40px;
}

.texto-foto{
    color: white;
    font-size: 50px;
    margin-right: 900px;
    background-color: brown;
}

.nav-item{
    
    text-align: right;
    display: inline-block;
}

.op-titulo{
    height: 90vh;
}

.op-titulo-texto{
    text-align: left;
    color: white;
}

.op-foto-titulo{
    font-size: 60px;
    font-family: 'Oswald';
    font-weight: 600;
}

.op-titulo-row{
    height: 100%;
}

.op-btn-agregar{
    height: 50px;
    font-family: 'Oswald';
    font-size: 25px;
    color: black;
    background: white;
    border:none;
    width: 45%;
    border-radius: 5PX;
}